In [1]:
# negative indexing
l = [1, 2, "3", 5]

In [2]:
l[-1]

5

In [3]:
l[-2]

'3'

In [ ]:
lenght of the list is 5

In [4]:
l.append("mahesh")

In [5]:
print(l)

[1, 2, '3', 5, 'mahesh']

In [6]:
l.insert(2, "Animesh")

In [7]:
print(l)

[1, 2, 'Animesh', '3', 5, 'mahesh']

In [8]:
l.insert(0, "shiva")

In [9]:
print(l)

['shiva', 1, 2, 'Animesh', '3', 5, 'mahesh']

In [10]:
l = [""] * 5
print(l)

['', '', '', '', '']

In [11]:
l[0] = "Nainish"
print(l)

['Nainish', '', '', '', '']

In [12]:
l[1] = 23
print(l)

['Nainish', 23, '', '', '']

In [14]:
l.remove(23)
print(l)

['Nainish', '', '', '']

In [15]:
del l

In [16]:
print(l)

NameError: name 'l' is not defined

In [17]:
# dictionary
d = {}
print(type(d))

<class 'dict'>

In [18]:
employee = {}
employee["name"] = "Animesh"
employee["ph no."] = "+91 7999 99 9999"

In [19]:
print(employee)

{'name': 'Animesh', 'ph no.': '+91 7999 99 9999'}

In [20]:
employee.update({"salary": "95k"})

In [21]:
print(employee)

{'name': 'Animesh', 'ph no.': '+91 7999 99 9999', 'salary': '95k'}

In [22]:
employee.keys()

dict_keys(['name', 'ph no.', 'salary'])

In [23]:
l = list(employee.keys())
print(l)

['name', 'ph no.', 'salary']

In [24]:
l[0]

'name'

In [25]:
employee.values()

dict_values(['Animesh', '+91 7999 99 9999', '95k'])

In [26]:
employee.items()

dict_items([('name', 'Animesh'), ('ph no.', '+91 7999 99 9999'), ('salary', '95k')])

In [27]:
employee

{'name': 'Animesh', 'ph no.': '+91 7999 99 9999', 'salary': '95k'}

In [28]:
employee["name"] = "Nainish"

In [29]:
employee["name"]

'Nainish'

In [30]:
# If the key value pair doesnt exist, the new key-val pair is created.
# else the value for the correspondoing key would be updated

In [ ]:
Q) len(employee)
a) 6
b) 3
c) error because its not list/tuple or string

In [31]:
employee.get("name")

'Nainish'

In [32]:
len(employee)

3

In [33]:
employee[0]

KeyError: 0

In [34]:
id(employee.get("name"))

2148949369376

In [35]:
print(employee.get(0))

None

In [36]:
# Removing element from the dictionary
print(employee)

{'name': 'Nainish', 'ph no.': '+91 7999 99 9999', 'salary': '95k'}

In [38]:
employee.pop("ph no.")

'+91 7999 99 9999'

In [39]:
employee

{'name': 'Nainish', 'salary': '95k'}

In [40]:
del employee['salary']

In [41]:
employee

{'name': 'Nainish'}

In [42]:
employee.clear()

In [43]:
employee

{}

In [44]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the dict in memory, in bytes.
 |
 |  clear(self, /)
 |      Remove all items from the dict.
 |
 |  copy(self, /)
 |      Return a shallow copy of the dict.
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(self, /)
 |      Return a set-like object providing a view on the dict's items.
 |
 |  keys(self, /)
 |      Return a set-like object providing a view on the dict's keys.
 |
 |  pop(self, key, default=<unrepresentable>, /)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(self, /)
 |      Return an object providing a view on the dict's values.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [45]:
# Set
fruits = set()

In [46]:
fruits = {"apple", "banana", "kiwi", "mango", "pineapple"}
print(type(fruits))

<class 'set'>

In [ ]:
# set doesnot support duplicate values.
# the members of the set are immutable objects
{[1, 2],5}  --> X

In [47]:
{[1, 2],5}

TypeError: unhashable type: 'list'

In [48]:
{(1, 2), 5}

{(1, 2), 5}

In [49]:
print(fruits)

{'pineapple', 'apple', 'kiwi', 'banana', 'mango'}

In [50]:
fruits.add("pomegranate")
print(fruits)

{'pineapple', 'apple', 'kiwi', 'banana', 'pomegranate', 'mango'}

In [51]:
fruits.remove("kiwi")

In [52]:
print(fruits)

{'pineapple', 'apple', 'banana', 'pomegranate', 'mango'}

In [53]:
# pop method of set, removes random items from the set
fruits.pop()

'pineapple'

In [54]:
fruits.clear()

In [55]:
print(fruits)

set()

In [56]:
del fruits

In [57]:
print(fruits)

NameError: name 'fruits' is not defined

In [58]:
# join Operations
set1 = {1, 2, 3}
set2 = {4, 5}
set3 = set1.union(set2)

In [59]:
print(set3)

{1, 2, 3, 4, 5}

In [60]:
set4 = set1 | set2
print(set4)

{1, 2, 3, 4, 5}

In [61]:
# Intersection
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set5 = set1.intersection(set2)

In [62]:
print(set5)

{3}

In [63]:
set6 = set1 & set2

In [64]:
print(set6)

{3}

In [65]:
# difference
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.difference(set2)
print(set3)

{1, 2}

In [ ]:
# update, symmetric differnce

# Conditional Statements

In [ ]:
# the dashes below are symbolic reference to spaces
# if statement
if <condition>:
----#statemets

# if else conditions
if <condition>:
----# statement 1
else:
----# statement 2

# if else ladder
if <condition 1>:
----# statement 1
elif <condition 2>:
----# statement 2
elif ...
...
...
else:
----# last statemnt

# nested of else
if <condition 1>:
----if <condition a>:
--------## condition a
else:
----if <condtns z>
--------# condition 99
----elif <cond. z1>
-------# condtion 100

In [66]:
a = 53
b = -1
if b < a:
    print("B is samller then a")

B is samller then a

In [67]:
if a > b:
    print("a is greater")
else:
    print("b is greater")

a is greater

In [68]:
a = -99
if a > b:
    print("a is greater")
else:
    print("b is greater")

b is greater

In [71]:
a = 99
if a > b: print("b is smaller than a")

b is smaller than a

In [72]:
a = 99
b = -1
print("a is greater") if a > b else print("b is greater than a")

a is greater

In [ ]:
# loops
1) while loop
2) for loop

In [ ]:
# entry controlled loop
while <condition>:
----#statemnts
----#exit statement

In [73]:
"""
10 X 1 = 10
10 X 2 = 20
10 X ... = ...
"""
num = 10
temp = 1
while temp <= 10:
    print(f"{num} X {temp} = {num * temp}")
    temp += 1

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [74]:
# A-Z
ord("A")

65

In [75]:
chr(43)

'+'

In [76]:
chr(65)

'A'

In [78]:
chr(65+25)

'Z'

In [82]:
start_val = 65
while start_val <= 90:
    print(chr(start_val), end=",")
    start_val += 1

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [ ]:
# HW
# write a python program using while loop to print the even numbers from 0-100