In [1]:
# Classes and objects
# Object: its a collection of variables(data) and functions(methods)
# Class: its a blueprint of that object

In [ ]:
class ClassName:
    # class definition

In [2]:
class Car:
    name = ""
    wheels = 4
"""
Car: name of the class
name/ wheels: varibles inside the class

Variables inside a class are called attributes`b
"""

'\nCar: name of the class\nname/ wheels: varibles inside the class\n\nVariables inside a class are called attributes`b\n'

In [5]:
# funct1() --> adding two numbers
# funct2(funct1())
def fun1():
    return 2+3
a = fun1()

In [6]:
a

5

In [8]:
def fun2():
    print(2+3)
b = fun2()

5

In [10]:
print(b)

None

In [11]:
def fun3(a):
    if a is None:
        print("Hey I got None")
    else:
        print("boring data type")
fun3(fun1())

boring data type

In [12]:
fun3(fun2())

5
Hey I got None

In [16]:
def fun2a():
    print(2+3)
    return 2+3
b = fun2a()

5

In [17]:
print(b)

5

In [18]:
b

5

In [19]:
fun3(fun2a())

5
boring data type

In [20]:
fun3(b)

boring data type

In [23]:
"""
Car: name of the class
name/ wheels: varibles inside the class

Variables inside a class are called attributes`b
"""
class Car:
    name = ""
    wheels = 4

In [24]:
object1 = Car()

In [25]:
object1.name

''

In [26]:
mahesh = Car()

In [28]:
mahesh.name = "maercidez"

In [29]:
mahesh.name

'maercidez'

In [30]:
object1.name

''

In [38]:
class Employee:
    def __init__(self, name1, salary):
        self.name = name1
        self.salary = salary

    def get_incriment(self, val):
        self.salary += val
        return self.salary

In [39]:
emp1 = Employee("Mahesh", 1000000000)

In [40]:
emp1.__dict__

{'name': 'Mahesh', 'salary': 1000000000}

In [41]:
em2 = Employee("Shiva", 2000000000)

In [42]:
em2.__dict__

{'name': 'Shiva', 'salary': 2000000000}

In [43]:
emp1.get_incriment(2500)

1000002500

In [44]:
em2.get_incriment(-2500)

1999997500

In [45]:
emp1.__dict__

{'name': 'Mahesh', 'salary': 1000002500}

In [46]:
em2.__dict__

{'name': 'Shiva', 'salary': 1999997500}

In [47]:
emp1.name

'Mahesh'

In [48]:
# getters and setter

In [49]:
emp1.name = "mahesh"

In [50]:
emp1.name

'mahesh'

In [62]:
class Employee:
    def __init__(self, name1, salary):
        self.__name = name1
        self.__salary = salary

    def get_name(self):
        return self.__name

    def get_salary(self):
        return self.__salary

    def set_incriment(self, val):
        self.__salary += val
        return self.__salary

In [63]:
emp1 = Employee("Mahesh", 5000)

In [64]:
emp1.__dict__

{'_Employee__name': 'Mahesh', '_Employee__salary': 5000}

In [65]:
emp1.__name

AttributeError: 'Employee' object has no attribute '__name'

In [66]:
emp1.get_name()

'Mahesh'

In [67]:
emp1.get_salary()

5000

In [68]:
emp1._Employee__name

'Mahesh'

In [69]:
emp1._Employee__name = "mahesh"

In [70]:
emp1.__dict__

{'_Employee__name': 'mahesh', '_Employee__salary': 5000}

In [82]:
class XYZEmployee:
    company = "xyz"
    def __init__(self, name1, salary):
        self.name = name1
        self.__salary = salary

    def get_name(self):
        return self.__name

    def get_salary(self):
        return self.__salary

    def set_incriment(self, val):
        self.__salary += val
        return self.__salary

In [83]:
emp1 = XYZEmployee("Mahesh", 5000)
emp2 = XYZEmployee("Shiva", 8000)
emp3 = XYZEmployee("Krishna", 1000)

In [84]:
emp1.company

'xyz'

In [85]:
emp2.company

'xyz'

In [86]:
XYZEmployee.company = "ABC"

In [87]:
emp1.company

'ABC'

In [88]:
emp2.company

'ABC'

In [89]:
emp3.company

'ABC'

In [90]:
emp1.name

'Mahesh'

In [91]:
emp2.name

'Shiva'

In [92]:
class XYZEmployee:
    company = "xyz"
    def __init__(self, name1, salary):
        self.name = name1
        self.__salary = salary

    def get_name(self):
        return self.__name

    def get_salary(self):
        return self.__salary

    def set_incriment(self, val):
        self.__salary += val
        return self.__salary

    @classmethod
    def set_company_name(cls, name):
        cls.company = name

In [93]:
emp1 = XYZEmployee("Mahesh", 5000)
emp1.company

'xyz'

In [94]:
emp1.set_company_name("ABC")

In [95]:
emp1.company

'ABC'

In [96]:
emp2 = XYZEmployee("Shiva", 4000)
emp2.company

'ABC'

In [97]:
emp1.__dict__

{'name': 'Mahesh', '_XYZEmployee__salary': 5000}

In [98]:
print(XYZEmployee.__dict__)

{'__module__': '__main__', '__firstlineno__': 1, 'company': 'ABC', '__init__': <function XYZEmployee.__init__ at 0x00000225DF028040>, 'get_name': <function XYZEmployee.get_name at 0x00000225DF028720>, 'get_salary': <function XYZEmployee.get_salary at 0x00000225DF02B2E0>, 'set_incriment': <function XYZEmployee.set_incriment at 0x00000225DF02B560>, 'set_company_name': <classmethod(<function XYZEmployee.set_company_name at 0x00000225DF02B6A0>)>, '__static_attributes__': ('__salary', 'name'), '__dict__': <attribute '__dict__' of 'XYZEmployee' objects>, '__weakref__': <attribute '__weakref__' of 'XYZEmployee' objects>, '__doc__': None}

In [99]:
# Inheritence in Python

In [104]:
# Parent(base class) --> child(derived class)
class Person:
    def __init__(self, fname, lname):
        self.first_name = fname
        self.last_name = lname

    def print_name(self):
        print(self.first_name, self.last_name)

x = Parent("Jerry", "holand")
x.print_name()

Jerry holand

In [105]:
# child class
class Employee(Person):
    pass

In [107]:
emp1 = Employee("Mahesh", "Matam")

In [108]:
emp1.print_name()

Mahesh Matam

In [109]:
class Employee(Person):
    def __init__(self, empid):
        self.empid = empid

In [110]:
emp1 = Employee("Mahesh", "Matam")

TypeError: Employee.__init__() takes 2 positional arguments but 3 were given

In [111]:
class Employee(Person):
    def __init__(self, empid, fname, lname):
        self.empid = empid
        super().__init__(fname, lname)

emp1 = Employee(123, "Mahesh", "Matam")

In [112]:
emp1.first_name

'Mahesh'

In [113]:
emp1.empid

123

In [114]:
class Employee(Person):
    def __init__(self, empid, fname, lname):
        self.empid = empid

emp2 = Employee(123, "Mahesh", "Matam")

In [115]:
emp2.first_name

AttributeError: 'Employee' object has no attribute 'first_name'

In [116]:
emp2.print_name()

AttributeError: 'Employee' object has no attribute 'first_name'

In [117]:
emp2.__dict__

{'empid': 123}

In [118]:
emp1.__dict__

{'empid': 123, 'first_name': 'Mahesh', 'last_name': 'Matam'}

In [127]:
class A:
    def __init__(self, x, y):
        self.x = x
        print("here in X")

class B(A):
    # something
    pass

class C(B):
    def __init__(self, x, y):
        self.y = y
        print("in class C")

In [129]:
c = C(4, 5)

in class C

In [131]:
b = B(5, 6)

here in X

In [132]:
class A:
    def __init__(self):
        print("I am in A")
class B(A):
    def __init__(self):
        print("I am in B")
class C(B):
    def __init__(self):
        print("I am in C")
c = C()

I am in C

In [133]:
class A:
    def __init__(self):
        print("I am in A")
class B(A):
    def __init__(self):
        print("I am in B")
class C(B):
    def __init__(self):
        print("I am in C")
        super().__init__()
c = C()

I am in C
I am in B

In [134]:
class A:
    def __init__(self):
        print("I am in A")
class B(A):
    def __init__(self):
        print("I am in B")
        super().__init__()
class C(B):
    def __init__(self):
        print("I am in C")
        super().__init__()
c = C()

I am in C
I am in B
I am in A

In [135]:
#mro : method resolution order

In [136]:
help(c)

Help on C in module __main__ object:

class C(B)
 |  Method resolution order:
 |      C
 |      B
 |      A
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from A:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [ ]:
Hybrid inheritence
  A
  |       --> hierarchical inheritence
B   C
|   |
-----
  |      --> multiple inheritence
  D

In [143]:
class A:
    def __init__(self):
        print("I am in A")
class B(A):
    def __init__(self):
        print("I am in B")
        super().__init__()
class C:
    def __init__(self):
        print("I am in C")

class D(B, C):
    def __init__(self):
        print("I am in D")
        super().__init__()

In [144]:
d = D()

I am in D
I am in B
I am in A