In [2]:
# functions
def calculator(a, b):
    return a + b
calculator(5, 3)

8

In [ ]:
# syntax
def function_name(parm1, param2="default value", *args, **kwargs):
----# statements

In [ ]:
function_name(3, 5,...)

In [3]:
# calculator(2, "-", 5)
def calculator(first_val, operator, secnd_val):
    operator_dict = {
        "+": first_val + secnd_val,
        "-": first_val - secnd_val,
        "X": first_val * secnd_val,
        "/": first_val / secnd_val
    }
    return operator_dict.get(operator)

In [4]:
calculator(5, "X", 3)

15

In [5]:
calculator(5, "+", 3)

8

In [6]:
calculator(5, "-", 3)

2

In [7]:
calculator(5, "*", 3)

In [9]:
def calculator(first_val, operator, secnd_val):
    operator_dict = {
        "+": first_val + secnd_val,
        "-": first_val - secnd_val,
        "X": first_val * secnd_val,
        "/": first_val / secnd_val
    }
    val = operator_dict.get(operator)
    if val is None:
        print(f"Oops! you have used a wrong operator {operator}. please choose something from below")
        print("+, -, X, /")
    else:
        return val
calculator(5, "k", 5)

Oops! you have used a wrong operator k. please choose something from below
+, -, X, /

In [10]:
calculator(5, "*", 5)

Oops! you have used a wrong operator *. please choose something from below
+, -, X, /

In [11]:
calculator(5, "*", 0)

ZeroDivisionError: division by zero

In [12]:
calculator(5, "X")

TypeError: calculator() missing 1 required positional argument: 'secnd_val'

In [13]:
def calculator(first_val=0, operator="X", secnd_val=1):
    operator_dict = {
        "+": first_val + secnd_val,
        "-": first_val - secnd_val,
        "X": first_val * secnd_val,
        "/": first_val / secnd_val
    }
    val = operator_dict.get(operator)
    if val is None:
        print(f"Oops! you have used a wrong operator {operator}. please choose something from below")
        print("+, -, X, /")
    else:
        return val

calculator()

0

In [15]:
def sum_calculator(val1, val2):
    return val1 + val2
sum_calculator(5, 2)

7

In [20]:
def sum_calculator(*val):
    print(val)
    return sum(val)

In [21]:
sum_calculator(5, 2, 6)

(5, 2, 6)

13

In [23]:
def sum_calculator(*val):
    print(val)
    temp = 0
    summ = 0
    while temp < len(val):
        summ += val[temp]
        temp += 1
    return summ
sum_calculator(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [24]:
# Keyword argument
def names_of_people(per1, per2, per3):
    print(f"{per1} and {per2} are our chief guest")

In [25]:
names_of_people("Mahesh", "Nainesh", "Gopal")

Mahesh and Nainesh are our chief guest

In [28]:
names_of_people(per2="Mahesh", per1="Nainesh", per3="gopal")

Nainesh and Mahesh are our chief guest

In [30]:
def names_of_people(**anyname):
    print(anyname)
    print(anyname["per2"], "is our only chief guest today")

names_of_people(per2="Mahesh", per1="Nainesh", per3="gopal")

{'per2': 'Mahesh', 'per1': 'Nainesh', 'per3': 'gopal'}
Mahesh is our only chief guest today

In [ ]:
def func(parm1, parm2, *args, **kwargs):
    # statements
    pass

In [31]:
# lambda
print(names_of_people)

<function names_of_people at 0x000002B084E06E80>

In [32]:
print(lambda a: a ** 2)

<function <lambda> at 0x000002B0842BA480>

In [33]:
print(lambda a: a ** 2)

<function <lambda> at 0x000002B084E64220>

In [34]:
print(names_of_people)

<function names_of_people at 0x000002B084E06E80>

In [35]:
print((lambda a: a ** 2)(5))

25

In [36]:
(lambda a, b: a*b)(5, 6)

30

In [37]:
x = lambda a, b, c: a+b+c
print(x)

<function <lambda> at 0x000002B084E647C0>

In [38]:
x(2,3,5)

10

In [39]:
(lambda *val: sum(val))(1,2,3,5)

11

In [50]:
def sum_calculator(*val):
    print(val)
    temp = 0
    summ = 0
    while temp < len(val):
        summ += val[temp]
        temp += 1
    return summ
(lambda *val1: sum_calculator(*val1))(1,2,3,5)

(1, 2, 3, 5)

11

In [ ]:
(lambda parma1,...: operations with params)(args...)

In [ ]:
# for loop
"""
iterables:
    list,
    tuple,
    dictionary,
    set,
    range etc...
"""
for i in iterable:
    print(i)

In [51]:
# WAP  to print 1 to 10
l = [1, 2, 3, 4 ,5]
for i in l:
    print(i)

1
2
3
4
5

In [52]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
range(n) --> 0 to n-1
# immutable data type
range(1,6) --> 1 to 6-1

In [53]:
range(10)

range(0, 10)

In [54]:
range(1, 6)

range(1, 6)

In [55]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [56]:
for i in range(1, 11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [57]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [58]:
for i in range(1, 11, 3):
    print(i)

1
4
7
10

In [59]:
range(11, 0, -1)

range(11, 0, -1)

In [60]:
list(range(11, 0, -1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
for i in range(11, 0, -1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [62]:
for i in range(11, 0, -2):
    print(i)

11
9
7
5
3
1

In [64]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [65]:
# map
# map(func, iterable)

# given a list print the list containing sqaure of the original.
l = [1, 2, 3, 4]
def sqare_list(l):
    j = []
    for i in l:
        j.append(i**2)
    return j
sqare_list(l)

[1, 4, 9, 16]

In [66]:
list(map(lambda a: a**2, l))

[1, 4, 9, 16]

In [67]:
l = ["apple", "mango", "cherry", "banana"]
list(map(len, l))

[5, 5, 6, 6]

In [69]:
def sum_calculator(*val):
    print(val)
    temp = 0
    summ = 0
    while temp < len(val):
        summ += int(val[temp])
        temp += 1
    return summ
sum_calculator(1, 2, 3 , 4)

(1, 2, 3, 4)

10

In [70]:
s = input("Enter the numbers followed comma")

Enter the numbers followed comma 1,2,5,4,6,7

In [71]:
s

'1,2,5,4,6,7'

In [72]:
s = s.split(",")

In [74]:
print(s)

['1', '2', '5', '4', '6', '7']

In [75]:
sum_calculator(s)

(['1', '2', '5', '4', '6', '7'],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [78]:
def sum_calculator(val):
    print(val)
    temp = 0
    summ = 0
    while temp < len(val):
        summ += val[temp]
        temp += 1
    return summ
sum_calculator(s)

['1', '2', '5', '4', '6', '7']

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [81]:
s = input("Enter the numbers followed comma").split(",")  # it a list of numbers in string
s = list(map(int, s))

Enter the numbers followed comma 1,2,5,4,7,10

In [82]:
s

[1, 2, 5, 4, 7, 10]

In [83]:
s = list(map(int, input("Enter the numbers followed by comma").split(",")))

Enter the numbers followed by comma 1,2,3,4,5

In [84]:
sum_calculator(s)

[1, 2, 3, 4, 5]

15

In [88]:
# filter
l = [0, 1, -9, 5, -23]
def filter_positive(x):
    if x >= 0:
        return True
    else:
        return False
val = filter(filter_positive, l)

In [89]:
val

In [90]:
list(val)

[0, 1, 5]

In [92]:
l = ["apple", "mango", "cherry", "banana"]
list(filter(lambda x: len(x)>5, l))

['cherry', 'banana']

In [ ]:
lambda a, b: a+b
map(func, iterable) --> iterable object
filter(func, iterble) --> iterbale object

In [93]:
for i in filter(lambda x: len(x)>5, l):
    print(i)

cherry
banana

In [94]:
for i in map(lambda x: len(x)>5, l):
    print(i)

False
False
True
True